<h1>Listing chats</h1>

<%= link_to 'New chat', new_chat_path %>

<br />

<table>
  <tr>
    <th>Participants</th>
    <th>Subject</th>
    <th></th>
    <th></th>
  </tr>

<% @chats.each do |chat| %>
  <tr>
    <td><%= chat_users(chat) %></td>
    <td><%= link_to chat.subject, chat %></td>
    <td><%= link_to chat_digest(chat), chat %></td>
    <td><%= link_to 'Destroy', chat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
