<h1>Listing chats</h1>

<div class="aux">
  <%= link_to 'New chat', new_chat_path %>
</div>

<% if @chats.present? %>
  <table>
    <tr>
      <th>Participants</th>
      <th></th>
      <th>Subject</th>
      <th></th>
    </tr>

  <% @chats.each do |chat| %>
    <tr>
      <td><%= chat_users(chat) %></td>
      <td><%= unread_counter_for(chat) %></td>
      <td><%= link_to chat.subject, chat %></td>
      <td><%= link_to chat_digest(chat), chat %></td>
      <td><%=l chat.updated_at, :format => :short %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>
    There aren't any chats yet
  </p>
<% end %>
