<p>
  <b>Participants:</b>
  <%= chat_users(@chat) %>
</p>
<p>
  <b>Subject:</b>
  <%= @chat.subject %>
</p>

<p>
  <b>Messages:</b>
  <%= render @chat.messages %>
</p>

<%= link_to 'New message', new_chat_message_path(@chat) %> |
<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
