<%= link_to 'Back', chats_path %>
<p>
  <b>Participants:</b>
  <%= chat_users(@chat) %>
</p>
<p>
  <b>Subject:</b>
  <%= @chat.subject %>
</p>

<p>
  <b>Messages:</b>
  <%= render @chat.messages %>
</p>

<p>
  <b>Reply</b>
<% form_for @chat.messages.new, :url => chat_messages_path(@chat) do |f| %>
  <%= f.error_messages %>

  <%= render 'messages/form', :form => f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</p>
